[Unit]
Description=Automatic Download Torrent
After=graphical.target

[Service]
Type=idle
ExecStart=/bin/sh -c "exec sh /storage/.kodi/addons/service.downloadmanager.Automatic/bin/Automatic.start"
TimeoutStopSec=1
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=kodi.target
