[Unit]
Description=Transmission Service
After=network.target

ConditionPathExists=/storage/.transmission-daemon

[Service]
Type=forking
PIDFile=/var/run/transmission.pid
ExecStart=/bin/transmission-daemon -w /storage/videos -g /storage/.transmission-daemon --incomplete-dir /storage/incoming --watch-dir /storage/watch -a '*.*.*.*' -T
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=1s
StartLimitInterval=0

