[Unit]
Description=Automatic Service
After=transmission.service

ConditionPathExists=/storage/.automatic.conf

[Service]
ExecStart=/bin/automatic -f -c /storage/.automatic.conf
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=1s
StartLimitInterval=0

